/*---my主体样式---*/
  #container{width:100%;margin:0 auto;background:#033518 url('bg.gif') repeat-x;}
  /*---顶部样式---*/
  #container #header{height:228px;background:url('banner.gif') no-repeat;width:100%}
  #container #header #blogname{text-align:left;font-size:24px;font-weight:bold;color:#243D0A;text-transform:capitalize;padding:35px 0 0 65px;}
  #container #header #blogname #blogTitle{padding:6px 0px 0px 0px;font-size:12px;color:#3F6617}
  #container #header #menu{padding:0px}
  #container #header #menu #Left{}
  #container #header #menu #Right{}
  #container #header #menu ul{float:left;list-style:none;margin:86px 0px 0 80px} 
  #container #header #menu ul li{float:left;margin:0 1px;display:block;line-height:28px}   
   .menuDiv{width:1px;height:28px;background:#000}/*---菜单分割线---*/
  /*---内容样式---*/
  #container #Tbody{width:100%;margin:0 auto;text-align:left}
  /*---工具条--*/
  #sidebar{float:left;width:224px;margin:0px;text-align:center;color:#000;background:url(leftbg.gif)}
  #innersidebar{}
  #sidebar-topimg{height:41px;overflow:hidden;background:url(lefttop.gif);}
  #sidebar-bottomimg{height:13px;overflow:hidden;background:url(leftbottom.gif);}
  /*---工具箱样式--*/
  .sidepanel{}
  .Ptitle{margin:0px;height:42px;text-align:left;padding:18px 0px 0px 50px;font-weight:bold;font-size:12px;background:url(lmenu.gif) no-repeat;}  
  .Pcontent{text-align:left;padding:0px 0 0px 26px;background:url(leftbg.gif) repeat-y}    
  /*---主内容--*/ 
  #mainContent{float:right;margin-left:-224px;text-align:center;width:100%}
  #innermainContent{margin:0px 10px 0px 224px;background:#FFF}
  #mainContent-topimg{height:29px;overflow:hidden;background:url(righttop1.gif);}
  #mainContent-bottomimg{height:17px;overflow:hidden;background:url(rightbottom.gif);}
  .content-width{}/*--主内容元素的全局宽度--*/
  /*---主内容页数--*/
  .pageContent{margin:0 auto;padding-left:3px;text-align:left;height:18px;} 
  .NavTitle{float:left;font-weight:bold;}
  .page{padding-right:5px;height:18px;}
  .page ul{list-style:none;margin:0px;padding:0px} 
  .page ul li{float:left;padding:0px 3px 0px 3px;} 
  .page ul li.PageL {width:9px;height:16px;}
  .page ul li.PageR {width:9px;height:16px;}
  .PageLbutton{background:url('../../images/BttnLeft.gif') 0px 0px;width:9px;height:16px;display:block;}
  .PageRbutton{background:url('../../images/BttnRight.gif') 0px 0px;width:9px;height:16px;display:block;}
  /*---内容框--*/
  .Content{margin:0 auto;}    
  /*---日志标题框--*/
  .Content-top{background:url('logIcon.gif') 3px 2px no-repeat;padding:2px 2px 2px 44px !important;padding:2px 2px 2px 44px; color:#000;text-align:left;margin-bottom:2px;}
  .Content-top .ContentLeft{}
  .Content-top .ContentRight{}
  .Content-top .ContentTitle{font-size:14px;color:#3E3E2F;padding-bottom:4px;margin:0px}
  .Content-top .ContentAuthor{color:#666;font-size:11px;padding-top:4px;padding-left:3px;border-top:2px solid #C4DF9B;margin:0px;font-weight:100;} 
  /*---日志内容框--*/
  .Content-body{margin:8px auto;overflow:hidden;text-align:left;width:96%;line-height:150%}
  /*---日志内容底部--*/
  .Content-bottom{text-align:center;padding-bottom:24px;}
  .Content-bottom .ContentBLeft{}
  .Content-bottom .ContentBRight{}  

/*---日志其他信息--*/
  .Content-Info {margin:0px 4px 6px 4px;padding:0px}
  .Content-Info .InfoAuthor{text-align:left}
  .Content-Info .InfoOther{float:right;text-align:right;}
  /*--评论框--*/
  .comment{text-align:left;margin:0px 12px 15px 12px;border:1px solid #DBDBD0;background:#fff}
  .commentinfo{font-size:11px;color:#999;}
  .commenttop{padding:4px;background:#EEEEE8;margin:1px}
  .commentcontent{padding:10px;line-height:140%;overflow:hidden;width:96%}
  /*---UBB框--*/ 
  .UBBPanel{background:#fff;border-left:3px solid #DBDBD0}
  .UBBTitle{font-weight:bold;padding:4px;border-bottom:1px dotted #DBDBD0}
  .UBBContent{padding:6px;line-height:160%;}
  .UBBContent TEXTAREA {width:448px;margin-bottom:2px;}
  :link.UBBLink,:visited.UBBLink{font-size:11px;font-family:verdana;}
  /*---信息框--*/
  #MsgContent{border:1px solid #F6617;width:450px;padding:1px; background:#fff;margin:auto;}
  #MsgContent #MsgHead{background:#C4DF9B;padding:4px;text-align:center;font-weight:bold;}
  #MsgContent #MsgBody{padding:4px;line-height:180%;}

  .LDialog{border:1px solid #795B50;margin:3px auto;padding:1px;}
  .LDialog .LHead{background:#BBA097;padding:1px;color:#fff;text-align:center;font-weight:bold;}
  .LDialog .LBody{padding:4px;line-height:200%;}


/*信息框图标以及文字*/
   .MessageText{height:50px;margin-right:38px;}
   .MessageIcon{background:url(Message.gif) no-repeat;width:48px;height:48px;float:left;}
   .ErrorIcon{background:url(Error.gif) no-repeat;width:48px;height:48px;float:left;}
   .WarningIcon{background:url(Warning.gif) no-repeat;width:48px;height:48px;float:left;}   
   .QuestionIcon{background:url(vQuestion.gif) no-repeat;width:48px;height:48px;float:left;}
  /*---底部样式---*/
  #container #foot{margin:1px 0 0 0;padding:14px 0px 14px 0px;color:#588526}
  #container #foot p{margin:2px}
  /*---文件上传框样式---*/
  .attachmentBody{margin:0px;font-size:12px;background:#fff}